@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
}

.nav-header {
    display: flex;
    background-color: #b298d2;
    color: #4E4B66;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-header img {
    width: 70px;
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo p {
    font-size: 32px;
    font-weight: 700;
}

.hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c6c6cb;
    padding: 30px;
    margin: 50px auto;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.todo-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    flex-grow: 1;
}

.todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.todo-item-complete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.complete-text {
    text-decoration: line-through;
}

.todo-buttons {
    display: flex;
    gap: 10px;
}

.btn-add {
    background-color: #4E4B66;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-complete {
    background-color: #96f196;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-delete {
    background-color: #dc4444;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-edit {
    background-color: gold;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn-save {
    background-color: #4E4B66;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
}

.btn-cancel {
    background-color: #dc4444;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
}
